# Place in .git/zply of working repo

# Colorize sync output
ZPLY_COLOR=1

# Commit options
ZPLY_COMMIT_INTERACTIVE=1
ZPLY_COMMIT_DIFF=1
ZPLY_COMMIT_PUSH=1

# Link working repo to patch repo
ZPLY_PATCH_REPO_DIR=../path/to/patch/repo

# Pull patch repo remote before sync
ZPLY_PATCH_REPO_BRANCH=master
ZPLY_PATCH_REPO_PULL=1
ZPLY_PATCH_REPO_REMOTE=origin

# Automatically commit to patch-repo after a refresh
ZPLY_REFRESH_COMMIT=1

# Pull upstream remote before apply
ZPLY_UPSTREAM_BRANCH=master
ZPLY_UPSTREAM_PULL=1
ZPLY_UPSTREAM_REMOTE=origin
